/*

   RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}



/*

   GENERAL

*/

.container-head-top{
    width: 1200px;
    margin: 0 auto;
}


.button-blue{
    background-color: #0061FF;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 13px;
}

.containermain{
    width: 1000px;
    margin: 0 auto;
}


.position-button{
    position: relative;
}

.button-white{
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    position: absolute;
    top: 267px;
    color: black;
}

.headerbottom{
    background-color: #B4D0E7;
}

.sec5{
    background-color: #B4D0E7;
}

.button-white2{
    padding: 10px 34px;
    text-decoration: none;
    background-color: white;
    display: inline-block;
    margin-top: 77px;
    margin-left: 30px;
    color: black;
}






/*

   HEADER

*/
.rowheadtop{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex-head-bottom{
    display: flex;
    flex-wrap: nowrap;
}

.continform{
    width: 30%;
}

.img-head-bott{
    width: 70%;
}

.leftheadtop, .rightheadtop{
    padding: 20px;
}
 
.leftheadtop img{
    vertical-align: sub;
}

.leftheadtop a, .rightheadtop .notbutton{
    text-decoration: none;
    margin-right: 20px;
    font-size: 13px;
    color: black;
    margin-left: 20px;
}

.container-head-top div h1{
    padding-top: 70px;
    font-size: 70px;
    font-weight: 800;
}

.continform p{
    padding: 62px 0;
}

.continform i{
    margin-top: -17px;
    font-size: 50px;
}


.img-head-bott img{
    width: 100%;
    position: absolute;
    top: 62px;
}


.img-head-bott{
    position: relative;
}

.continform i{
    margin-bottom: 10px;
}






/*

   MAIN

*/
.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card > *{
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid grey;
}

.card > *:last-child{
    width: 100%;
}

.containermain .titolo h2{
    margin-top: 120px;
    margin-bottom: 25px;
} 

.inputradio{
    margin-bottom: 30px;
}

input{
    margin-right: 10px;
    vertical-align: middle;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
    color: #0061FF;
}

.radiusbox{
    margin-left: 30px;
    
}

.cardtitle{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}


#contattaci{
    margin-top: 30px;
    display: inline-block;
    margin-left: 61px;
    margin-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
}


.flex-feature{
    display: flex;
}



.cardinfo{
    position: relative;
}


.button-enterprise{
    position: absolute;
    top: 28px;
    left: 802px;
}


.cardinfo h3{
    padding: 20px;
    font-size: 23px;
}

.cardinfo p:nth-child(2){
    font-weight: 700;
    padding: 0px 0px 6px 20px;

}

.cardinfo p:nth-child(3){
    color: grey;
    padding-left: 20px;
    margin-bottom: 40px;
}


.cardinfo p:nth-child(8){
    padding-left: 20px;
    margin-bottom: 40px;
}

.flex-feature div i{
    margin-left: 10px;
    vertical-align: -webkit-baseline-middle;
    margin-top: 14px;
}

.flex-feature div p{
    padding: 0px 14px 6px 20px;
    margin-top: 13px;
}

.cardinfo #acquista{
    margin-top: 30px;
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 50px;
}


.cardinfo > span:first-of-type{
    margin-left: 20px;
    text-decoration: #0061FF;
}


.cardinfo hr{
    width: 20%;
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 60px;
}

.fa-li{
    color: #0061FF;
}

.card div ul li{
    margin-top: 15px;
    padding-right: 56px;
}

.cardinfo a:last-child{
    color: #0061FF;
}



.cardinfo h4{
    padding: 20px;
}

ul li:last-child{
    margin-bottom: 50px
}

#p-enterprise{
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    padding-left: 20px;
}

.flex-sec-3{
    display: flex;
    margin-top: 90px;
    margin-bottom: 100px;
}

.flex-sec-3 > *{
    width: calc(100% / 2);
}

.flex-sec-3 div img{
    width: 100%;
}

.flex-sec-3 div h2{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 100px;
}

.flex-sec-3 div p{
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 100px;
}

.flex-sec-3 div a{
    margin-left: 30px;
}

.imgcard img{
    width: 100%;
    margin-top: 40px;
}

.sec-card-2{
    display: flex;
    flex-wrap: wrap;
}

.sec-card-2 > *{
    width: calc(30% - 20px);
    margin: 20px;
}


.containermain div h2{
    margin-bottom: 10px;
}

.infocard h3{
    margin-bottom: 20px;
}


.sec4{
    margin-bottom: 80px;
}



.sec4 h4{
    font-size: 40px;
    padding-top: 70px;
    padding-right: 250px;
    margin-top: 100px;
}

.sec4 a{
    display: block;
    margin-top: 30px;
    color: #0061FF;
}

.container-full{
    display: flex;
}

.container-full > *{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.container-img1{
    display: flex;
    flex-wrap: wrap;
}

.container-img1 > *{
    width: 50%;
    height: 50%;
}

.logoimg{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-img1 div img{
    width: 90%;
    padding: 50px;
    filter: invert(1);
}


.container-img1 div:nth-child(1){
    background-color: #A2D39B;
    border: 10px solid #D1E9CD; 
}   

.container-img1 div:nth-child(2){
    background-color: #61082B;
} 

.container-img1 div:nth-child(3){
    background-color: #0093CE;
} 

.container-img1 div:nth-child(4){
    background-color: #FF1C1C;
} 


.container-img2{
    display: flex;
    flex-wrap: wrap;
}

.container-img2 > *{
    width: 50%;
    height: 50%;
}

.container-img2 div img{
    width: 90%;
    padding: 50px;
    filter: invert(1);
}

.container-img2 div:nth-child(1){
    background-color: #D5001F; 
} 

.container-img2 div:nth-child(2){
    background-color: #B4D0E7;
} 

.container-img2 div:nth-child(3){
    background-color: #0D2481;
}

.container-img2 div:nth-child(4){
    background-color: #FFD830;
}


#central-logo img{
    padding: 30px;
    width: 50%;
    margin-top: 19px;
}

.container-full div:nth-child(2) hr{
    width: 30%;
    margin-left: 30px;
    margin-bottom: 30px;
}

.container-full div:nth-child(2) p{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 61px;
}

.cont-info{
    width: 70%;

}

.button-flex{
    width: 30%;
}

.cont-info h4{
    padding: 70px 200px 70px 0px;
    font-size: 40px;
    color: #61082B;
}

.faq h4{
    font-size: 30px;
    padding: 70px 0px;
    margin-top: 30px;
}

.faq-info{
    margin-bottom: 70px;
}

.faq-info > *{
    display: flex;
    border-top: 1px solid black;
    padding: 27px 0;
}

.faq-info > * > p{
    flex-grow: 1;
}

.faq-info > * > div{
    margin-right: 40px;
}

.faq-info div:nth-child(3){
    border-bottom: 1px solid black;
}




/*

   FOOTER
*/

footer section{
    background-color: black;
}

.flex-foot{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.flex-foot{
    display: flex;
}


.flex-foot > *{
    width: calc(100% / 5 - 50px);
    margin-left: 50px;

}

.flex-foot div > *{
    color: white;
    list-style: none;
    margin-bottom: 30px;
}

section hr{
    width: 10%;
    margin-left: 50px;
    margin-bottom: 30px;
}


.language span i{
    color: gray;
    margin-bottom: 50px;
}

.language {
    margin-left: 50px;
    color: gray;
}


.flex-foot div ul li{
    margin-top: 10px;
    font-weight: 300;
}



/*

   DEBUG

*/

/* .debug header .headertop{
    /* background-color: yellow; */
    /* min-height: 50px; */



/* .debug .headerbottom {
    background-color: aqua;
} */

/* .debug .headerbottom > * {
    background-color: red;
    border: 1px dashed black;
    height: 500px;

} */


/* .debug .headerbottom .container-head-top .titoloh1{
    background-color: blue;
    border: 1px dashed black;
} */


/* .debug .container-head-top .flex-head-bottom .continform{
    background-color: violet;
    border: 2px dashed black;
} */

/* .debug .container-head-top .flex-head-bottom .img-head-bott{
    background-color: green;
    border: 2px dashed black;
} */


/* .debug main section{
    background-color: blue;
} */


/* .debug main section .card div{
    background-color: red;
    border: 1px dashed black;
} */

/* .debug .containermain .titolo{
    background-color: green;
    border: 1px dashed black;
} */

/* .debug .containermain .inputradio{
    background-color: rgb(255, 255, 255);
    border: 1px dashed black;
    width: 100%;
} */


/* .debug .flex-sec-3{
    width: 100%;
    background-color: red;
}
 */


/*  .debug .container-full > *{
    background-color: red;
    border: 1px dashed white;
 } */

/*  .debug .container-img > *{
    background-color: blue;
    border: 1px dashed black;
    /* width: 50%; */


/* .debug footer .flex-foot > *{
    background-color: #FF1C1C;
    border: 1px dashed black;
    height: 300px;
} */

/* .debug footer section:nth-child(2) div{
    color: white
} */